header {
    background-color: #2196f3;
    color: white;
    padding: 20px;
    h1 {
        margin: 0;
    }
}
nav {
    background-color: #4db6ac;
    padding: 20px;
    a {
        color: white;
        padding: 20px;
        text-decoration: none;
        &:hover {
            background-color: #009688;
        }
    }
}
main {
    padding: 20px;
}