table.tablica {
    margin-top: 45px;
    width: 100%;
    border-collapse: collapse;
    th, td {
        border: 1px solid #ccc;
        padding: 8px;
    }
    th {
        background-color: #f2f2f2;
    }
}